* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080808;
}

/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.navbar h4 {
  color: #c9963a;
}
.navbar button {
  padding: 6px;
  color: black;
  background-color: #c9963a;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
